Brotli==1.0.9
certifi==2023.5.7
charset-normalizer==3.1.0
contextlib2==21.6.0
docopt==0.6.2
idna==3.4
internetarchive==3.0.2
jsonpatch==1.32
jsonpointer==2.3
mutagen==1.46.0
pycryptodomex==3.17
requests==2.30.0
schema==0.7.5
tqdm==4.65.0
tubeup==0.0.35
urllib3==1.26.13
websockets==11.0.3
yt-dlp==2023.3.4
